.env
.idea
krypta/__pycache__/wsgi.cpython-310.pyc
users/__pycache__/license.cpython-310.pyc
users/__pycache__/permissions.cpython-310.pyc
users/__pycache__/serializers.cpython-310.pyc
users/__pycache__/signals.cpython-310.pyc
users/__pycache__/urls.cpython-310.pyc
users/__pycache__/views.cpython-310.pyc
users/migrations/__pycache__/
